name: call-reusable-md-to-html

on:
    push

permissions:
    contents: write

jobs:
  call-reusable-md-to-html:
    uses: EvokeMadness/workflow-templates/.github/workflows/reusable-md-to-html.yml@main
